.headerContainer
  background-color: #3498db
  padding: 10px
  align-items: center

.headerText
  color: #fff
  font-size: 24px

.dateContainer
  position: absolute
  top: 0
  left: 0
  padding: 10px


.dateText 
  font-size: 16px
  color: #333